.Cart .cart-wrapper {
    padding: 20px;
}

.Cart .cart-title {
    font-weight: 300;
    text-align: center;
}

.Cart .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.Cart .top-button {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
}

.Cart .top-button.filled{
    border: none;
    background-color: black;
    color: white;
}

.Cart .top-text {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.Cart .bottom {
    display: flex;
    justify-content: space-between;
}

.Cart .info {
    flex: 3;
}

.Cart .product {
    display: flex;
    justify-content: space-between;
}

.Cart .product-detail {
    flex: 2;
    display: flex;
}

.Cart img {
    width: 200px;
}

.Cart .details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cart .price-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Cart .product-amount-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Cart .product-amount {
    font-size: 24px;
    margin: 5px;
}

.Cart .product-price {
    font-size: 30px;
    font-weight: 200;
}

.Cart hr {
    background-color: rgb(219, 218, 218);
    border: none;
    height: 1px;
}

.Cart .summary {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.Cart .summary-title {
    font-weight: 200;
}

.Cart .summary-item {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.Cart .summary .total {
    font-weight: 500;
    font-size: 24px;
}

.Cart .summary-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 480px){
    .Cart .cart-wrapper {
        padding: 10px;
    }

    .Cart .top-texts {
        display: none;
    }
    
    .Cart .bottom {
        flex-direction: column;
    }

    .Cart .product {
        flex-direction: column;
    }

    .Cart .product-amount {
        margin: 5px 15px;
    }

    .Cart .product-price {
        margin-bottom: 20px;
    }
}