.Navbar.container {
    height: 70px;
}

.Navbar .wrapper {
    padding: 10px 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar .left {
    flex: 1;
    display: flex;
    align-items: center;
}

.Navbar .center {
    flex: 1;
    text-align: center;
}

.Navbar .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Navbar .language {
    font-size: 14px;
    cursor: pointer;
}

.Navbar .searchContainer {
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.Navbar input {
    border: none;
}

.Navbar h1 {
    font-weight: bold;
}

.Navbar .menuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

@media only screen and (max-width: 480px){
    .Navbar.container {
        height: 50px;
    }
  
    .Navbar .wrapper {
        padding: 10px 0px;
    }

    .Navbar .language {
        display: none;
    }

    .Navbar input {
        width: 50px;
    }

    .Navbar h1 {
        font-size: 24px;
    }

    .Navbar .right {
        flex: 2;
        justify-content: center;
    }
    .Navbar .menuItem {
        font-size: 12px;
        margin-left: 10px;
    }
}